* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00ca2f;
}

.nav-item {
    width: 100%;
}

.center{
    text-align: center;
}

.right {
    text-align: right;
}

.logo {
    font-size: 30px;
}

select {
    background-color: #ddd;
    width: 250px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    text-align-last: center;
}

option {
    text-align-last: center;
}

button {
    width: 150px;
    height: 30px;
    background-color: #ddd;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:active {
    background-color: #aaa;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5%;
}

.image-container {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.status {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.status-result {
    padding-left: 1rem;
    text-transform: uppercase;
}

.success {
    color: #0da100;
}

.error {
    color: #c20000;
}

@keyframes spin {
    to {
        transform: rotateY(360deg);
    }
}

.spinner {
    font-size: 35px;
    text-align: center;
    animation: spin 2s linear infinite;
    display: none;
}

.dog-image {
    display: none;
}

.show {
    display: block;
}